body {
    margin: 0;
    font-family: Arial, sans-serif;
}

.blog-container {
    margin: 0 auto;
    padding: 20px;
    max-width: 900px;
    background-color: white;
    box-sizing: border-box;
}


h1 {
    font-size: 2em;
    border-bottom: 2px solid black;             
    text-align: center;  
    font-family: Georgia, 'Times New Roman', Times, serif; 
    font-weight: 100;
    padding-bottom: 10px; 
    padding-top: 1rem;       
}

.author {
    padding-top: 0;
    margin-top: 0;
    text-align: center;
    font-size: .8rem;
}


p {
    line-height: 1.6;
    margin-bottom: 15px;
    padding-right: 5rem;
    padding-left: 5rem;
}

.indent {
    text-indent: 30px;
}

.inBlogTitle {
    font-size: 2em;
    margin-bottom: 20px;  
    padding-bottom: 10px;            
    text-align: center;  
    font-style: bold;
    font-family:Georgia, 'Times New Roman', Times, serif;
    border-bottom: .05px solid grey;
}

.inBlogTitle2 {
    font-size: 2em;
    margin-bottom: 20px;  
    padding-bottom: 10px; 
    padding-top: 10px;           
    text-align: center;  
    font-style: bold;
    font-family:Georgia, 'Times New Roman', Times, serif;
    border-top: .05px solid grey;
}

ul {
    padding-left: 8rem;
    list-style-type: square;
    padding-right: 10rem;
}

.lastThought {
    border-top: .5px solid grey;
    padding-top: 1rem;
}

footer p {
    font-size: 0.9rem;
    color: #777; /* Soft gray for subtle text */
    text-align: center;
    margin-top: 20px;
}

@media (min-width: 1024px) {
    p {
        padding-left: 17rem;
        padding-right: 17rem;
    }
    ul {
        padding-left: 20rem;
    }
}